<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Bienvenido, usuario con rol <%= user.role %></h1>
  <p>ID: <%= user.id %></p>
  <p>Rol: <%= user.role %></p>
  <a href="/posts">Ver Posts</a>
</body>
</html>
